.card {
  position: relative;
  transition: all 0.08s ease;
  overflow: hidden;
  image-rendering: pixelated;

  background-image: var(--mosaic-surface);

  background-size: var(--mosaic-surface-size);

  background: var(--card-bg);

  color: var(--card-color);

  padding: var(--card-padding);

  box-shadow: var(--card-shadow);

  font-family: var(--card-font-family);

  border-radius: var(--card-radius);

  border-color: var(--card-border);
}

.card__header {
  border-bottom-color: var(--card-divider);
}

.card__footer {
  border-top-color: var(--card-divider);
}

.card:hover {
  transform: translate(-2px, -2px);
  background-size: 15px 15px;
}